.vscode
env
node_modules
__pycache__/
*.py[cod]
*$py.class
api/__pycache__/views.cpython-39.pyc
db.sqlite3
api/__pycache__/serializers.cpython-39.pyc

client/static/client/main.js.LICENSE.txt
client/__pycache__/urls.cpython-39.pyc
